@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: 'Mulish', sans-serif;

  &:focus {
    outline: 0;
  }
}

body {
  background: #E7EAFB;
  padding: 50px;
}

.component {

  &--job-item {
    background: #fff;
    box-shadow: 0 21px 87px -35px rgba(#5062D3, .5);
    border-radius: 20px;
    max-width: 610px;
    padding: 50px 50px 40px;
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: 5px;
      font-size: 25px;
      color: #111127;
      font-weight: bold;

      a {
        color: #111127;
      }
    }

    .position {
      color: rgba(#111127, .7);
      font-size: 16px;
      margin-bottom: 24px;
    }

    p {
      font-size: 18px;
      color: #111127;
      line-height: 26px;
      margin-bottom: 25px;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;

      a {
        padding: 7px 20px;
        background: #E7EAFB;
        border-radius: 30px;
        font-size: 14px;
        color: #111127;
        margin: 0 10px 10px 0;

        &:hover {
          background: darken(#E7EAFB, 3%);
        }
      }
    }

  }

  &--job-items {
    display: flex;
    flex-direction: column;

    li {
      margin-bottom: 15px;

      a {
        display: flex;
        background: #fff;
        border-radius: 10px;
        align-items: center;
        padding: 20px 45px 20px 20px;
        transition: 300ms transform;

        &:hover {
          transform: scale(1.03);
        }

        .avatar {
          min-width: 64px;
          margin-right: 15px;
          height: 64px;
          border-radius: 50%;
          font-size: 30px;
          font-weight: bold;
          display: grid;
          place-items: center;
          color: var(--color);
          border: 2px solid #E7EAFB;
        }

        .detail {
          display: flex;
          flex-direction: column;

          .title {
            font-size: 20px;
            font-weight: bold;
            color: #111127;
            margin-bottom: 9px;
          }

          .position {
            font-size: 16px;
            color: rgba(#111127, .7);
          }
        }

        .location {
          opacity: .6;
          margin-left: auto;
          display: flex;
          align-items: center;
          font-size: 16px;
          color: #111127;

          img {
            margin-right: 5px;
          }
        }
      }
    }
  }

  &--job-filter {
    width: 300px;
    border-radius: 20px;
    background: #fff;
    padding: 30px;

    form {
      .search {
        height: 76px;
        margin: 0 -30px;
        border-bottom: 1px solid #E7EAFB;
        padding: 0 30px;
        margin-bottom: 30px;

        input {
          height: 46px;
          line-height: 106px;
          background: transparent url(../img/icon-search.svg) no-repeat 8px;
          font-size: 16px;
          padding-left: 45px;
          color: #111127;

          &::placeholder {
            color: rgba(#111127, .7);
          }
        }
      }

      h6 {
        font-size: 12px;
        font-weight: bold;
        color: #111127;
        margin-bottom: 15px;
      }

      .checkbox-list {
        padding-top: 10px;
        padding-bottom: 40px;

        li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          label {
            display: flex;
            cursor: pointer;

            .checkbox {
              width: 27px;
              height: 27px;
              border: 1px solid #E7EAFB;
              border-radius: 5px;
              background: #fff url(../img/icon-check.svg) no-repeat center;
              min-width: 27px;
              transition: 300ms background-color, 300ms border-color;
              margin-right: 15px;
            }

            .text {
              font-size: 16px;
              color: #111127;
            }

            input {
              display: none;

              &:checked + .checkbox {
                background-color: #8A9CFF;
                border-color: #8A9CFF;
              }
            }
          }
        }
      }

      .filter-form {
        li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          label {
            display: block;
            font-size: 12px;
            font-weight: bold;
            color: #111127;
            cursor: pointer;
            margin-bottom: 10px;
          }

          select {
            appearance: none;
            height: 46px;
            border: 2px solid #E7EAFB;
            border-radius: 8px;
            background: #ffffff url(../img/icon-down-arrow.svg) no-repeat calc(100% - 15px);
            width: 100%;
            padding: 0 40px 0 20px;
            cursor: pointer;
            text-overflow: ellipsis;
            transition: 300ms border-color;

            &:hover {
              border-color: darken(#E7EAFB, 3%);
            }

            &:focus {
              border-color: #8A9CFF;
            }
          }

          button {
            width: 100%;
            height: 57px;
            background: #8A9CFF;
            border-radius: 8px;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            box-shadow: 0 11px 30px -15px #6778E1;
            transition: 300ms background-color;

            &:hover {
              background: darken(#8A9CFF, 10%);
            }
          }
        }
      }
    }
  }

  &--job-button {
    display: inline-flex;
    align-items: center;
    height: 71px;
    background-color: #fff;
    padding: 0 35px 0 45px;
    font-size: 18px;
    color: #111127;
    border-radius: 10px;
    box-shadow: 0 11px 30px -15px rgba(#6778E1, .54);
    transition: 300ms transform;

    &:hover {
      transform: scale(1.03);
      color: darken(#8A9CFF, 20%);
    }

    img {
      margin-left: 25px;
    }
  }

}