@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: 'Nunito', sans-serif;

  &:focus {
    outline: 0;
  }
}

html, body {
  height: 100%;
}

body {
  background: #0F0F1B;
  display: grid;
  place-items: center;
}

.component--pricing-list {
  text-align: center;

  header {
    margin-bottom: 80px;

    h3 {
      font-size: 26px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 15px;
    }

    p {
      margin: 0 auto;
      font-size: 18px;
      color: #fff;
      line-height: 22px;
      max-width: 460px;
    }
  }

  .pricing-list {
    display: flex;
    margin: 0 -10px;

    li {
      width: 265px;
      margin: 0 10px;

      a {
        display: flex;
        padding: 35px;
        flex-direction: column;
        width: 100%;
        height: 267px;
        background: #171727;
        border-radius: 20px;
        color: #fff;
        text-align: left;
        transition: 300ms background-color;
        position: relative;

        .best-price {
          position: absolute;
          line-height: 30px;
          top: -15px;
          left: 50%;
          transform: translateX(-50%);
          height: 30px;
          background-color: #A0E0B2;
          border-radius: 30px;
          color: #171727;
          font-size: 16px;
          padding: 0 18px;
        }

        .title {
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 20px;

          &.domain-title {
            margin-bottom: 35px;
          }
        }

        .price {
          font-size: 26px;
          font-weight: bold;
          line-height: 32px;

          span {
            display: block;
            font-size: 16px;
            font-weight: normal;
          }
        }

        .btn {
          font-size: 16px;
          margin-top: auto;
          display: flex;

          img {
            margin-left: 10px;
            transition: 300ms margin-left;
          }
        }

        &:hover {
          background: #242486;

          .btn img {
            margin-left: 20px;
          }
        }
      }

      &.active a {
        background: #242486;
      }
    }
  }

  .action {
    margin-top: 64px;
    text-align: center;
    a {
      display: inline-block;
      padding: 18px 45px;
      border-radius: 10px;
      font-size: 16px;
      color: #8080B9;
      border: 2px solid #1F1F35;
      transition: 300ms all;
      &:hover {
        border-color: #8080B9;
        color: #fff;
      }
    }
  }
}